.controls(ng-click='controlsClick($event)')
  .timing
    pre.position {{pod.position}}
  .statusbar
    .loading(style='width: {{pod.loadPercent}}%')
    .position(style='width: {{pod.playPercent}}%')